body {
    
    background-color: rgb(163, 209, 255);
    color: rgb(3, 13, 40);
    font-family: "New Amsterdam", sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(20, 172, 81);
    color: rgb(255, 255, 255);
    font-family: "New Amsterdam", sans-serif;
    font-size: 30px;
}

.passo {
    display:none;
}

.passo.ativo {
    display: block;
}

main{
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 100%;
}